/* - - - - - APP INTEGRATION - - - - - */
.sheet-header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;  

  border-bottom: 1px solid grey;
  text-align: center;
  
  -webkit-backdrop-filter: blur(12px); /* Fixes blur for Safari*/
  backdrop-filter: blur(12px);
}

.sheet-header h1 {
  margin: 0;
  padding: 0;

  font-size: 24px;
}

.sheet-header button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;

  background-color: rgb(57, 57, 57);
  color: white;
  font-size: 18px;
}

.sheet-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 68px;
  
  font-size: 64px;
  overflow-y: scroll;
  
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}